services:
  web:
    image: nginx:alpine
    ports:
      - "8092:80"
    networks:
      - mynet

  redis:
    image: redis:alpine
    expose:
      - "6379"
    networks:
      - mynet

networks:
  mynet: